In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Mount the G Drive to access the data set
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
train_path = '/content/drive/MyDrive/Colab Notebooks/FP-DM/dataset/train_baseline_fix_index.csv'
test_path = '/content/drive/MyDrive/Colab Notebooks/FP-DM/dataset/test_baseline_fix_index.csv'
train_df = pd.read_csv(train_path, encoding= 'unicode_escape')
test_df = pd.read_csv(test_path, encoding= 'unicode_escape')
merged_df = train_df.append([test_df])

In [ ]:
train_df

       Unnamed: 0  sentence #     word    tag  word_idx  tag_idx
0               0           1  Berikut      O      7983        0
1               1           1   adalah      O      2039        0
2               2           1    tujuh      O      4980        0
3               3           1     kota      O        41        0
4               4           1       di      O      4961        0
...           ...         ...      ...    ...       ...      ...
30243       30243        1464     kita      O      4705        0
30244       30244        1464        ,      O      7275        0
30245       30245        1464     ucap      O      7791        0
30246       30246        1464    Fadli  B-PER       855        4
30247       30247        1464        .      O      6215        0

[30248 rows x 6 columns]

In [ ]:
test_df

       Unnamed: 0  sentence #        word tag  word_idx  tag_idx
0               0           1       Meski   O      4549        0
1               1           1    demikian   O      4487        0
2               2           1           ,   O      7275        0
3               3           1          ia   O      5670        0
4               4           1  menegaskan   O      5148        0
...           ...         ...         ...  ..       ...      ...
18446       10583         509    keluarga   O      3747        0
18447       10584         509        -lah   O      2169        0
18448       10585         509           ,   O      7275        0
18449       10586         509     ujarnya   O      3526        0
18450       10587         509           .   O      6215        0

[18451 rows x 6 columns]

In [ ]:
data_merged_fillna = merged_df.fillna(method='ffill', axis=0)

data_merged_group = data_merged_fillna.groupby(['sentence #'],as_index=False)['word', 'tag', 'word_idx', 'tag_idx'].agg(lambda x: list(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data_merged_group

      sentence #  ...                                            tag_idx
0              1  ...  [0, 0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1              2  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, ...
2              3  ...  [0, 0, 0, 2, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...
3              4  ...  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4              5  ...  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...          ...  ...                                                ...
1459        1460  ...  [0, 0, 4, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1460        1461  ...                  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1461        1462  ...  [0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1462        1463  ...            [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1463        1464  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[1464 rows x 5 columns]

In [ ]:
word_list = data_merged_group['word'].to_list()

Import Dictionary yang sudah dibangun pada saat preprocessing

In [ ]:
# importing the module
import json
 
# Opening JSON file
def loadJSON(filename):
  data = {}
  with open(filename) as json_file:
      data = json.load(json_file)
  return data

In [ ]:
idx2tag = loadJSON('/content/drive/MyDrive/Colab Notebooks/FP-DM/output/idx2tag.json')
tag2idx = loadJSON('/content/drive/MyDrive/Colab Notebooks/FP-DM/output/tag2idx.json')
token2idx = loadJSON('/content/drive/MyDrive/Colab Notebooks/FP-DM/output/token2idx.json')
idx2token = loadJSON('/content/drive/MyDrive/Colab Notebooks/FP-DM/output/idx2token.json')
print(idx2tag)

{'0': 'O', '1': 'I-LOC', '2': 'B-ORG', '3': 'I-PER', '4': 'B-PER', '5': 'I-ORG', '6': 'B-LOC'}

In [ ]:
tag2idx = dict([key, int(value)] for key, value in tag2idx.items())
token2idx = dict([key, int(value)] for key, value in token2idx.items())
idx2tag = dict([int(key), value] for key, value in idx2tag.items())
idx2token = dict([int(key), value] for key, value in idx2token.items())
tag2idx

{'B-LOC': 6,
 'B-ORG': 2,
 'B-PER': 4,
 'I-LOC': 1,
 'I-ORG': 5,
 'I-PER': 3,
 'O': 0}

FastText Model training using Gensim

In [ ]:
from gensim.models.fasttext import FastText

# Set values for various parameters
feature_size = 100    # Word vector dimensionality  
window_context = 5    # Context window size                                                                                    
min_word_count = 1    # Minimum word count                        
iter = 100

# sg decides whether to use the skip-gram model (1) or CBOW (0)
ft_model100 = FastText(word_list, size=feature_size, window=window_context, 
                    min_count=min_word_count, sg=1, iter=iter)
ft_model100.save('/content/drive/MyDrive/Colab Notebooks/FP-DM/models/word_embeddings/FastText5_100_100.bin')

In [ ]:
ft_model200 = FastText(word_list, size=feature_size, window=window_context, 
                    min_count=min_word_count, sg=1, iter=iter)
ft_model200.save('/content/drive/MyDrive/Colab Notebooks/FP-DM/models/word_embeddings/FastText5_200_100.bin')

In [ ]:
ft_model300 = Word2Vec(word_list, size=300, window=5, min_count=1, iter=100, sg=1)
ft_model300.save('/content/drive/MyDrive/Colab Notebooks/FP-DM/models/word_embeddings/FastText5_300_100.bin')