In [1]:
import numpy as np
import pandas as pd

In [2]:
#Mount the G Drive to access the data set
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [5]:
train_path = '/content/drive/MyDrive/Colab Notebooks/FP-DM/dataset/train_baseline_fix_index.csv'
test_path = '/content/drive/MyDrive/Colab Notebooks/FP-DM/dataset/test_baseline_fix_index.csv'
train_df = pd.read_csv(train_path, encoding= 'unicode_escape')
test_df = pd.read_csv(test_path, encoding= 'unicode_escape')
merged_df = train_df.append([test_df])

In [6]:
train_df

       Unnamed: 0  sentence #     word    tag  word_idx  tag_idx
0               0           1  Berikut      O      7983        0
1               1           1   adalah      O      2039        0
2               2           1    tujuh      O      4980        0
3               3           1     kota      O        41        0
4               4           1       di      O      4961        0
...           ...         ...      ...    ...       ...      ...
30243       30243        1464     kita      O      4705        0
30244       30244        1464        ,      O      7275        0
30245       30245        1464     ucap      O      7791        0
30246       30246        1464    Fadli  B-PER       855        4
30247       30247        1464        .      O      6215        0

[30248 rows x 6 columns]

In [7]:
test_df

       Unnamed: 0  sentence #        word tag  word_idx  tag_idx
0               0           1       Meski   O      4549        0
1               1           1    demikian   O      4487        0
2               2           1           ,   O      7275        0
3               3           1          ia   O      5670        0
4               4           1  menegaskan   O      5148        0
...           ...         ...         ...  ..       ...      ...
18446       10583         509    keluarga   O      3747        0
18447       10584         509        -lah   O      2169        0
18448       10585         509           ,   O      7275        0
18449       10586         509     ujarnya   O      3526        0
18450       10587         509           .   O      6215        0

[18451 rows x 6 columns]

Siapkan data corpus dalam bentuk kalimat

In [8]:
data_merged_fillna = merged_df.fillna(method='ffill', axis=0)

data_merged_group = data_merged_fillna.groupby(['sentence #'],as_index=False)['word', 'tag', 'word_idx', 'tag_idx'].agg(lambda x: list(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
data_merged_group

      sentence #  ...                                            tag_idx
0              1  ...  [0, 0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1              2  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, ...
2              3  ...  [0, 0, 0, 2, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...
3              4  ...  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4              5  ...  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...          ...  ...                                                ...
1459        1460  ...  [0, 0, 4, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1460        1461  ...                  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1461        1462  ...  [0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1462        1463  ...            [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1463        1464  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[1464 rows x 5 columns]

In [10]:
word_list = data_merged_group['word'].to_list()

Import Dictionary yang sudah dibangun pada saat preprocessing

In [15]:
# importing the module
import json
 
# Opening JSON file
def loadJSON(filename):
  data = {}
  with open(filename) as json_file:
      data = json.load(json_file)
  return data

In [16]:
idx2tag = loadJSON('/content/drive/MyDrive/Colab Notebooks/FP-DM/output/idx2tag.json')
tag2idx = loadJSON('/content/drive/MyDrive/Colab Notebooks/FP-DM/output/tag2idx.json')
token2idx = loadJSON('/content/drive/MyDrive/Colab Notebooks/FP-DM/output/token2idx.json')
idx2token = loadJSON('/content/drive/MyDrive/Colab Notebooks/FP-DM/output/idx2token.json')
print(idx2tag)

{'0': 'O', '1': 'I-LOC', '2': 'B-ORG', '3': 'I-PER', '4': 'B-PER', '5': 'I-ORG', '6': 'B-LOC'}

In [17]:
tag2idx = dict([key, int(value)] for key, value in tag2idx.items())
token2idx = dict([key, int(value)] for key, value in token2idx.items())
idx2tag = dict([int(key), value] for key, value in idx2tag.items())
idx2token = dict([int(key), value] for key, value in idx2token.items())
tag2idx

{'B-LOC': 6,
 'B-ORG': 2,
 'B-PER': 4,
 'I-LOC': 1,
 'I-ORG': 5,
 'I-PER': 3,
 'O': 0}

In [11]:
! pip install glove-python-binary

Collecting glove-python-binary
  Downloading glove_python_binary-0.2.0-cp37-cp37m-manylinux1_x86_64.whl (948 kB)
     |████████████████████████████████| 948 kB 5.0 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from glove-python-binary) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from glove-python-binary) (1.4.1)
Installing collected packages: glove-python-binary
Successfully installed glove-python-binary-0.2.0

In [18]:
#importing the glove library
from glove import Corpus, Glove
# creating a corpus object
corpus = Corpus(token2idx) 
#training the corpus to generate the co occurence matrix which is used in GloVe
corpus.fit(word_list, window=5)

In [21]:
#creating a Glove object which will use the matrix created in the above lines to create embeddings
#We can set the learning rate as it uses Gradient Descent and number of components
glove = Glove(no_components=100, learning_rate=0.05)

glove.fit(corpus.matrix, epochs=25, no_threads=4, verbose=True)
glove.add_dictionary(corpus.dictionary)
glove.save('/content/drive/MyDrive/Colab Notebooks/FP-DM/models/word_embeddings/glove5_100_25.txt')

Performing 25 training epochs with 4 threads
Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Epoch 10
Epoch 11
Epoch 12
Epoch 13
Epoch 14
Epoch 15
Epoch 16
Epoch 17
Epoch 18
Epoch 19
Epoch 20
Epoch 21
Epoch 22
Epoch 23
Epoch 24

In [23]:
#creating a Glove object which will use the matrix created in the above lines to create embeddings
#We can set the learning rate as it uses Gradient Descent and number of components
glove = Glove(no_components=200, learning_rate=0.05)

glove.fit(corpus.matrix, epochs=25, no_threads=4, verbose=True)
glove.add_dictionary(corpus.dictionary)
glove.save('/content/drive/MyDrive/Colab Notebooks/FP-DM/models/word_embeddings/glove5_200_25.txt')

Performing 25 training epochs with 4 threads
Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Epoch 10
Epoch 11
Epoch 12
Epoch 13
Epoch 14
Epoch 15
Epoch 16
Epoch 17
Epoch 18
Epoch 19
Epoch 20
Epoch 21
Epoch 22
Epoch 23
Epoch 24

In [24]:
#creating a Glove object which will use the matrix created in the above lines to create embeddings
#We can set the learning rate as it uses Gradient Descent and number of components
glove = Glove(no_components=300, learning_rate=0.05)

glove.fit(corpus.matrix, epochs=25, no_threads=4, verbose=True)
glove.add_dictionary(corpus.dictionary)
glove.save('/content/drive/MyDrive/Colab Notebooks/FP-DM/models/word_embeddings/glove5_300_25.txt')

Performing 25 training epochs with 4 threads
Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Epoch 10
Epoch 11
Epoch 12
Epoch 13
Epoch 14
Epoch 15
Epoch 16
Epoch 17
Epoch 18
Epoch 19
Epoch 20
Epoch 21
Epoch 22
Epoch 23
Epoch 24